#
# Configuration file for Caddy
#
# See:
# * https://caddyserver.com/docs/caddyfile
# * https://caddyserver.com/docs/caddyfile/concepts
# * https://caddyserver.com/docs/caddyfile/directives
# * https://caddyserver.com/docs/caddyfile/concepts#environment-variables
#

# Global options (https://caddyserver.com/docs/caddyfile/options)
{
	log {
		format console
		level ERROR
	}
}

https://{$SERVER_DOMAIN}:{$SERVER_HTTPS_PORT} {
	reverse_proxy obsidian-couchdb:5984 {
		header_up Host {host}
		header_up X-Forwarded-Port {server_port}
	}
}
